.card {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;
	text-wrap: wrap;
	gap: 12px;
	padding: 20px;
	/* width: 250px; */
	/* max-width: 250px; */
	/* max-width: 340px; */
	/* min-width: 200px; */
	background: #dcdfe3;
	border-radius: 8px;
}

.heading {
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btn_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.like {
	fill: gray;
	cursor: pointer;
	padding: 2px;
}

.img {
	aspect-ratio: 8 / 3;
}
